<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
  	<div class="plan_box">
  	  <h3>Plan Basic</h3>
	  <p>No Charge
		<br>
		Good for evaluation
	  </p>
  	</div>
  </div>
  <div class="col-sm-2">
  	<div class="plan_box">
  	  <h3>Plan Better</h3>
	  <p>
		<br>Everything in Plan Basic
		<br>Good plan for small business
	  </p>
  	</div>
  </div>
  <div class="col-sm-2">
  	<div class="plan_box">
  	  <h3>Plan Best</h3>
	  <p>
		<br>Everything in Plan Better
		<br>Good plan for enterprises
	    
	  </p>
  	</div>
  </div>
</div>